@model BOL.Models.ShoppingCart

@{
    ViewBag.Title = "GetMyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_BasketPartialView")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    function displayMyBasket(myBasket){
        alert(JSON.stringify(myBasket));
    }


    $(function () {
        var myurl = "GetMyUpdatedCartJSON";
        
        $.ajax({
            url: myurl,
            type: "POST",
            cache: false,
            success: function (myBasket) {
                displayMyBasket(myBasket);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Temp debug: " + thrownError);
            }
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Your shopping cart</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SessionID)



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
