@model BOL.Models.ShoppingCart
@{
    ViewBag.Title = "GetMyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


@{
    if (Model != null && Model.Items.Count > 0)
    {
        <h2>Your Shopping cart</h2>
        var it = Model.Items.FirstOrDefault();

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => it.ItemCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => it.ItemDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => it.InStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => it.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => it.ImgPath)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImgPath)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ItemID }, new { @class= "btn btn-danger btn-xs"})
                    </td>
                </tr>
            }

        </table>
    }else
    {
        <h3>Your shopping cart is empty!</h3>
    }


    if (User.Identity.IsAuthenticated)
    {

        if (User.IsInRole("C"))
        {
            <div class="pull-right">
                @Html.ActionLink("Proceed to Checkout", "CheckingOut", "Checkout", new { Area = "Security" }, htmlAttributes: new { @class = "btn btn-info btn-sm" })
            </div>
        }
        else
        {
            <h3 class="alert-info">You can not buy using your admin account!</h3>
        }

    }
    else
    {
        <h3>To proceed to checkout you must log in first.</h3>
        <table>
            <tr>
                <td style="padding-right:20px;">@Html.ActionLink("Login", "Index", "Login", new { Area = "Security" }, new { @class = "btn btn-info btn-sm" })</td>
                <td>@Html.ActionLink("Register", "Index", "Register", new { Area = "Security" }, new { @class = "btn btn-info btn-sm" })</td>
            </tr>
        </table>
        
        
    }

}
