@model s198599.Models.ItemViewPopulated

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("../../Views/Shared/_BasketPartialView")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        getUpdatedBasket('../../ShoppingCart/GetMyUpdatedCartJSON');
    });
</script>

<h2>@Model.ItemDesc</h2>

<div>
    <hr />

    <table class="table-responsive table-condensed pull-left">
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.ItemCode)</strong></td>
            <td>@Html.DisplayFor(model => model.ItemCode)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.ItemDesc)</strong></td>
            <td>@Html.DisplayFor(model => model.ItemDesc)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.InStock)</strong></td>
            <td>@Html.DisplayFor(model => model.InStock)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Price)</strong></td>
            <td>@Html.DisplayFor(model => model.Price)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.SelectedCategoryName)</strong></td>
            <td>@Html.DisplayFor(model => model.SelectedCategoryName)</td>
        </tr>
    </table>
    <div class="thumbnail-container">
        <img src="@Model.ImgPath" class="img-responsive" />
    </div>
</div>
<p>
    <a href="" onclick="buyItem(@Model.ItemID); return false;" class="btn btn-primary btn-sm">Buy</a>
    @Html.ActionLink("Back to List", "ListAll", "", htmlAttributes: new { @class = "btn btn-info btn-sm" })
</p>
