@model BOL.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("../../Views/Shared/_BasketPartialView")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        getUpdatedBasket('../../ShoppingCart/GetMyUpdatedCartJSON');
    });
</script>

<h2>@Model.ItemDesc</h2>

<div>
    <hr />

    <table class="table-responsive table-condensed pull-left">
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.ItemCode)</strong></td>
            <td>@Html.DisplayFor(model => model.ItemCode)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.ItemDesc)</strong></td>
            <td>@Html.DisplayFor(model => model.ItemDesc)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.InStock)</strong></td>
            <td>@Html.DisplayFor(model => model.InStock)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Price)</strong></td>
            <td>@Html.DisplayFor(model => model.Price)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Category)</strong></td>
            <td id="catName">@Html.DisplayFor(model => model.Category)</td>
        </tr>
    </table>
    <div class="thumbnail-container">
        <img src="@Model.ImgPath" class="img-responsive" />
    </div>
</div>
<p>
    <a href="" onclick="buyItem(@Model.ItemID); return false;" class="btn btn-primary btn-sm">Buy</a>
    @Html.ActionLink("Back to List", "ListAll", "", htmlAttributes: new { @class = "btn btn-info btn-sm" })
</p>

<script>
    $(function () {

        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("getCategoryNameList", "ItemCategories", new {Area="Admin" })',
            //url: 'ItemCategories/getCategoryNameList',
            success: function (categoryList) {
                for (var j = 0; j < categoryList.length; j++) {
                    
                    if ($('#catName').text() == categoryList[j].CategoryId) {
                        $('#catName').text(categoryList[j].CategoryName);
                        break;
                    }
                }
            },
            error: function (err) {
                alert(JSON.stringify(err));
            }
        });
    });
</script>