@model IEnumerable<s198599.Models.ItemViewPopulated>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("../../Views/Shared/_BasketPartialView")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        getUpdatedBasket('../ShoppingCart/GetMyUpdatedCartJSON');
    });
</script>

<h2>Our products</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedCategory)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelectedCategoryName)
        </td>
        <td>
            <img src="@Url.Content("~/Content/Images/default-thumb.gif")" class="img-thumbnail"/>
        </td>
        <td>
            <a href="" onclick="buyItem(@item.ItemID); return false;" class="btn btn-primary btn-sm">Buy</a>
            @Html.ActionLink("Details", "Details", new { id = item.ItemID }, htmlAttributes: new { @class = "btn btn-info btn-sm" })
            
        </td>
    </tr>
}

</table>


