@model IEnumerable<BOL.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("../../Views/Shared/_BasketPartialView")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        getUpdatedBasket('../ShoppingCart/GetMyUpdatedCartJSON');
    });
</script>

<h2>Our products</h2>
<table class="table" id="itemTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <span id="@item.ItemID">@item.Category</span>
        </td>
        <td>

            <img src="@Url.Content(item.ImgPath)" class="img-thumbnail thumbnail" />

        </td>
        <td>
            <a href="" onclick="buyItem(@item.ItemID); return false;" class="btn btn-primary btn-sm">Buy</a>
            @Html.ActionLink("Details", "Details", new { id = item.ItemID }, htmlAttributes: new { @class = "btn btn-info btn-sm" })
            
        </td>
    </tr>
}

</table>


<script>
    $(function () {

        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("getCategoryNameList", "ItemCategories", new { Area = "Admin" })',
            success: function (categoryList) {
                
                $('span', $('#itemTable')).each(function(){
                    var catId = $(this).text();
                    for (var j = 0; j < categoryList.length; j++) {
                        if (catId == categoryList[j].CategoryId) {
                            $(this).text(categoryList[j].CategoryName);
                            break;
                        }
                    }
                });
            },
            error: function (err) {
                //alert(JSON.stringify(err));
            }
        });
    });
</script>