@model BOL.Models.Role

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleStringId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleStringId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "", htmlAttributes: new { @class = "btn btn-info btn-sm" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleId }, htmlAttributes: new { @class = "btn btn-warning btn-sm" }) 
    
</p>
