@model IEnumerable<BOL.Models.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create","", htmlAttributes: new { @class = "btn btn-success btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleStringId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleStringId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoleId }, htmlAttributes: new { @class = "btn btn-warning btn-sm" }) 
            @Html.ActionLink("Details", "Details", new { id=item.RoleId }, htmlAttributes: new { @class = "btn btn-info btn-sm" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.RoleId }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
