@model BOL.Models.Payment.CreditCardPaymentImpl


@using (Html.BeginForm("CompleteOrder", "Checkout", "Security")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Payment by Credit card</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.CardHolderName, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.CardHolderName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CardHolderName, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ExpMonth, htmlAttributes: new { @class = "control-label" })
                    @Html.LabelFor(model => model.ExpYear, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.ExpMonth, new { htmlAttributes = new { @class = "form-control pull-left creditcard_digits" } })
                    @Html.EditorFor(model => model.ExpYear, new { htmlAttributes = new { @class = "form-control  creditcard_digits" } })
                    @Html.ValidationMessageFor(model => model.ExpMonth, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.ExpYear, "", new { @class = "text-danger" })
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CSV, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.CSV, new { htmlAttributes = new { @class = "form-control creditcard_digits" } })
                    @Html.ValidationMessageFor(model => model.CSV, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ActionLink("Cancel Order", "CancelOrder", "", htmlAttributes: new { @class = "btn btn-danger btn-sm" })
                    <input type="submit" value="Complete Order" class="btn btn-success btn-sm" />
                    
                </td>
                <td></td>
            </tr>
        </table>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
